@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap");

$color_1: #242831;
$color_2: #292e38;
$color_3: #323844;
$color_4: #bb23c7;
$padding: 4em;
$font1: "Poppins", sans-serif;
$font2: "Lora", serif;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $font1;
  background-color: $color_1;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: $padding;
  background-color: $color_2;
  padding: 0 $padding 0 $padding;

  ul li {
    list-style: none;
    display: inline-block;
    margin: 0 $padding 0 0;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.game-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
  grid-gap: 1vw;
  background-color: $color_3;
  margin: 5em auto 0 auto;
  padding: 5em 0 5em 0;
  height: 80vh;
}

.cell {
  height: 10vw;
  width: 10vw;
  background-color: red;
  cursor: pointer;
  color: white;
  font-size: 8vw;
  text-align: center;
}

.cell:hover {
  transform: scale(1.1);
}

.blue {
  position: relative;
  color: white;
  background-color: blue;
  font-size: 8vw;
  text-align: center;
}
